* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline;
}

header ul li a {
  color: #001942;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
  font-weight: 300;
}

main {
  background-image: url(/images/img.jpg?a195252a38ee5072cdb17f1e0a132306);
}

main h2 {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

main .cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 2fr);
}

main .cards .card {
  padding: 20px;
}

main .cards .card img {
  max-width: 100%;
  cursor: pointer;
}

main .cards .card h3 {
  margin: 10px 0;
  color: #292727;
  font-size: 18px;
  text-transform: uppercase;
}

